

* {
    /* background-color: #333; */
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    background-color: #333;
    background-image: url("/images/noise.png");
}

#menu * {
    background-color: inherit;
}

#menu {
    position: absolute;
    top: 70px;
    width: 140px;
    background-color: #FFF;
    vertical-align:top;
    border: 1px solid #FFF;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 24px 0px;
}

#menu ul {
    list-style-type: none;
    padding: 5px 10px;
    margin: 0px;
}

#menu li {
    padding: 5px 0px;
}

#contents {
    /* display:inline-block; */
    width: 1000px;
    align-content: center;
    margin: 0px auto;
    padding-bottom: 20px;
    background-color: #FFF;
}

#banner-image {
    width:100%;
}

div #banner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#banner p {
    text-align: center;
    font-style: italic;
    font-size: 32px;
    font-family: 'Georgia', serif;
    margin: 50px;
    color: #666;
}

#playerList{
    display: inline-block;
    margin: 0px 49px;
    width: 400px;
}

#coachList{
    display: inline-block;
    width: 400px;
    margin: 0px 49px;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #DDD; */
    /* margin-bottom: 20px; */
}

.player-name {
    color: #FFF;
    background-color: #ff6c59;
    border: 1px solid;
    border-radius: 10px;
    padding: 11px;
}
.player-name:hover {
    background-color: #ff9a8f;
}

a {
    text-decoration: none;
}

#playerList td{
    /* width: 25%; */
}


#coachList td{
    /* width: 33%; */
}

thead tr {
}

th, td {
    padding: 15px 10px;
}

#listContainer{
    width: 1000px;
    margin: auto;
    /* margin-right: 50px; */
    /* padding-bottom: 20px; */
}