

* {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

#menu, #menu * {
    background-color: #FFF;
}

#menu {
    display:inline-block;
    width:10%;
    vertical-align:top;
}

#menu ul {
    list-style-type: none;
    padding: 5px 10px;
    margin: 0px;
}

#menu li {
    padding: 5px 0px;
}

#contents {
    display:inline-block;
    width:80%;
    align-content: center;
    margin: auto;
}

#banner-image {
    width:100%;
}

#contents, #contents * {
    background-color: #FFF;
}

div #banner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#banner p {
    text-align: center;
}

#playerList{
    display: inline-block;
    margin-right: 50px;
}

#coachList{
    display: inline-block;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #DDD;
    margin-bottom: 20px;
}

#playerList td{
    width: 25%;
}


#coachList td{
    width: 33%;
}

thead tr {
    background: #DDD;
}

th, td {
    padding: 15px 10px;
}

#listContainer{
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}