* {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

#menu, #menu * {
    background-color: #FFF;
}

#menu {
    display:inline-block;
    width:10%;
    vertical-align:top;
}

#menu ul {
    list-style-type: none;
    padding: 5px 10px;
    margin: 0px;
}

#menu li {
    padding: 5px 0px;
}

#contents {
    display:inline-block;
    width:80%;
    height: 100%;
    align-content: center;
    margin: auto;
}

#banner-image {
    width:100%;
}

#contents, #contents * {
    background-color: #FFF;
}

div #banner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#banner p {
    text-align: center;
}

#playerList, #coachList{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#playerList table th,td {
    width: 12em;
}