* {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

body, body * {
    width:1000px;
    background-color: #FFF;
    align-content: center;
    margin: auto;
}

body div {
    padding: 100px 0px;
}